Sigue sin verse

@keyframes scale-up {
    to { scale: 1.5; }
}

@keyframes fade-away {
    to { opacity: 0; }
}

.body {
    scrollbar-width: none;
}
section {
    view-timeline: --scroll;
}

h1 span:first-child {
    animation: fade-away both linear;
    animation-timeline: --scroll;
    animation-range: exit 20% exit 90%;
}

h1 span:last-child {
    animation:
        scale-up both ease-in-out,
        fade-away both linear;
    animation-timeline: --scroll;
    animation-range:
        exit 0% exit 100%,
        exit 50% exit 90%;    
}


/* _________________________________________________ */
/* B A S I C O */
/* _________________________________________________ */

section {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h1 span:first-of-type {
    color: #09f;
    font-size: 0.35em;
}

section:nth-of-type(1) {
    height: 100vh;
}

section:nth-of-type(2) {
    height: 140vh;
}

h1 {
    display: grid;
}

h2 {
    font-size: clamp(2rem, 5vw + 1rem, 6rem);
    text-align: center;
}

section div {
    width: 800px;
    max-width: 100vw;
    padding: 0 1rem;
}

:is(h1, h2) {
    font-size: clamp(2.5rem, 7vw + 1rem, 10rem);
    text-align: center;
    line-height: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    translate: -50% -50%;
    width: 100%;
}

/* reset */
*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background: #000;
    color: white;
    display: grid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 0;
    min-height: 100dvh;
    overflow-x: hidden;
    place-items: center;
}


/* _________________________________________________ */
/* Estilos adicionales para todas las secciones */
/* _________________________________________________ */

section {
    margin-bottom: 10px; /* Agrega espacio entre las secciones */
}



/* _________________________________________________ */
/* Estilos adicionales para la sección "Sobre mí" */
/* _________________________________________________ */

section:nth-of-type(2) {
    max-width: 700px; /* Limita el ancho máximo del texto */
    margin: 10px auto; /* Centra el texto horizontalmente y agrega un espacio en la parte superior e inferior */
    padding: 0 40px; /* Agrega espacio en los lados del texto */
}
section p:nth-of-type(2) {
    margin-bottom: 150px; /* Reducir el margen inferior del segundo párrafo */
}




/* _________________________________________________ */
/* Estilos adicionales para la sección de experiencia */
/* _________________________________________________ */

section:nth-of-type(3) {
    max-width: 700px; /* Limita el ancho máximo del texto */
    margin: 10px auto; /* Centra el texto horizontalmente y agrega un espacio en la parte superior e inferior */
    padding: 0 40px; /* Agrega espacio en los lados del texto */
}


/* _________________________________________________ */
/* Estilos adicionales para la sección de habilidades */
/* _________________________________________________ */

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.skills-list li {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #09f;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.skills-list li:hover {
    background-color: #0c7;
    transform: scale(1.1);
}

h4 {
    text-align: center;
    margin-bottom: 10px;
    color: #09f;
}





/* _________________________________________________ */
/* Estilos adicionales para la sección de proyectos */
/* _________________________________________________ */

.project {
    text-align: center;
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h4 {
    margin-top: 10px;
    color: #09f;
}

.project p {
    color: #aaa;
}




/* _________________________________________________ */
/* Estilos adicionales para la sección de contacto */
/* _________________________________________________ */

.contact-icons li {
    display: inline-block;
    margin: 0 10px;
}

.contact-icons li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.contact-icons li a:hover {
    color: #09f;
}





/* _________________________________________________ */
/* SCROLL EDITADO */
/* _________________________________________________ */

body::-webkit-scrollbar {
	width: 9px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: rgb(0, 0, 0);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 2px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
  }






/* _________________________________________________ */
  /* Estilos adicionales para todas las secciones */
/* _________________________________________________ */

section {
    margin-bottom: 10px; /* Agrega espacio entre las secciones */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* _________________________________________________ */
/* Estilos adicionales para la sección "Experiencia" */
/* _________________________________________________ */

section:nth-of-type(3) {
    max-width: 700px; /* Limita el ancho máximo del texto */
    margin: 10px auto; /* Centra el texto horizontalmente y agrega un espacio en la parte superior e inferior */
    padding: 0 40px; /* Agrega espacio en los lados del texto */
}


/* Estilos para el encabezado */
header {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Letras blancas */
    text-align: center; /* Centrar el texto horizontalmente */
    padding: 20px 0; /* Espaciado interno */
    position: fixed;
    width: 100%;
    z-index: 999;
}

header h1 {
    margin: 0; /* Eliminar margen predeterminado */
}

/* Estilos para los enlaces del menú de navegación */
#navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0; /* Alinear el menú de navegación en la parte superior */
}

#navbar ul {
    list-style-type: none; /* Quitar viñetas de la lista */
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
}

#navbar ul li {
    margin-right: 20px; /* Espaciado entre los elementos del menú */
}

#navbar ul li:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento */
}

#navbar ul li a {
    color: #fff; /* Letras blancas */
    text-decoration: none; /* Quitar subrayado del enlace */
    transition: color 0.3s; /* Transición suave del color al pasar el ratón */
}

#navbar ul li a:hover {
    color: #09f; /* Cambiar el color al pasar el ratón */
}




